@media(max-width: 768px) {
  .container {
    padding-left: 3rem;
  }
}
@media(min-width: 768px) {
  .container {
    display: flex;
    padding-left: calc((100% - 768px) / 4);
    max-width: 1200px;
  }
}



.link {
  text-transform: uppercase;
  font-size: .8rem;
  color: #333;
}
