.navBarContainer {
  display: flex;
  padding-left: calc((100% - 1200px) / 2);
  max-width: 1200px;
}

.navItem {
  margin: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

@keyframes bar {
  from {
    opacity: .0;
  }
  to {
    opacity: 1;
  }
}
.activeItem {
  margin-top: .2rem;
  width: 100%;
  height: .2rem;
  background-color: #bf5156;
  animation: bar .3s linear;
  animation-direction: center ;
  
}

.subMenuContainer {
  display: flex;
  padding: 1rem 0;
  padding-left: calc((100% - 1200px) / 2);
  background-color: #f8f5f0;
  
  list-style: none;
}

.subMenuItem {
  margin: 0 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8rem;
}
.subMenuItem:hover {
  text-decoration: underline;
  cursor: pointer;
}
