html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

