

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media(min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 4rem;
  }
  .image {
    min-width: 350px;
    margin-left: 1rem;
    width: 100%;
    max-width: 30vw;
  }
}

@media(max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 4rem;
  }
  .image {
    min-width: 350px;
    max-width: 80vw;
  }
}

.description {
  margin: 1rem 0 !important;
}

.times {
  font-weight: 500;
}

.yieldContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin: 1rem 0;
}

.buttonsContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.yield {
  font-weight: 600 !important;
 
  margin-right: 2rem;
}

.button {
  margin-right: .8rem !important;
}
